* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    text-decoration: inherit;
}

a:hover {
    text-decoration: inherit;
}

b,
strong {
    font-weight: bold;
}

:focus {
    outline: inherit;
}

:focus:hover {
    outline: inherit;
}

.form-group {
    margin-bottom: 24px;
}

.form-control::placeholder {
    color: #747474;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #747474;
}

.form-control::-ms-input-placeholder {
    color: #747474;
}

.form-control:focus {
    background: transparent;
    border-color: #f0f0f0;
    box-shadow: none;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active .btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: inherit;
    outline-offset: inherit;
    box-shadow: inherit;
    background-color: #b82426;
    border-color: #b82426;
    color: #ffffff;
    opacity: 1;
}

.same-box {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
}
.primary-bg-color {
    background-color: #b82426;
}
.primary-color {
    color: #b82426;
}

hr {
    margin: 12px 0;
    color: inherit;
    border: 0;
    opacity: 0.5;
    border-top: 1px solid #707070;
}
.full-img img {
    width: 100%;
}
.gray-bg {
    background-color: #f0f0f0;
}
.gray-dark-bg {
    background-color: #E6E6E6;
}
@media only screen and (max-width: 1199px) {
    /*navbar-toggler-icon*/
    .navbar-toggler-icon label {
        display: flex;
        flex-direction: column;
        width: 24px;
        cursor: pointer;
        margin: 0;
    }

    .navbar-toggler-icon label span {
        background: #b82426;
        border-radius: 4px;
        height: 3px;
        margin: 2px 0;
        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    .navbar-toggler-icon span:nth-of-type(1) {
        width: 50%;
    }

    .navbar-toggler-icon span:nth-of-type(2) {
        width: 100%;
    }

    .navbar-toggler-icon span:nth-of-type(3) {
        width: 75%;
    }

    .navbar-toggler-icon input[type="checkbox"] {
        display: none;
    }

    .navbar-toggler-icon input[type="checkbox"]:checked ~ span:nth-of-type(1) {
        transform-origin: bottom;
        transform: rotatez(45deg) translate(3px, 0px);
    }

    .navbar-toggler-icon input[type="checkbox"]:checked ~ span:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(-45deg);
    }

    .navbar-toggler-icon input[type="checkbox"]:checked ~ span:nth-of-type(3) {
        transform-origin: 11px;
        width: 50%;
        transform: translate(10px, 0) rotatez(45deg);
    }

    /*navbar-toggler-icon*/
}
