.footer-con {
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/footer-bg.png);
}

.footer-top-col {
    position: relative;
    padding: 8px 0;
}

.bold-text {
    font-weight: 700;
}

.footer-logo-con {
    position: relative;
    margin-bottom: 21px;
}
.footer-logo-con img {
    width: 280px;
    max-width: 100%;
}

.footer-middle-con {
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #4d4d4d;
}

.footer-newsletter-sign-up-text {
    position: relative;
}
.footer-newsletter-sign-up-text p {
    margin-bottom: 0;
}
.footer-newsletter-sign-up-text p a {
    color: #b82426;
    font-weight: 700;
}
.footer-newsletter-sign-up-text p a:hover {
    color: #b82426;
    opacity: 0.8;
}

.footer-link-and-text-con {
    position: relative;
}
.footer-link-and-text-con p {
    color: #000000;
    margin: 0;
    font-size: 16px;
}
.footer-link-and-text-con p span {
    border-bottom: 2px solid #000000;
    padding-bottom: 4px;
    width: auto;
    display: inline-block;
}
.footer-link-and-text-con p a {
    color: #000000;
}
.footer-link-and-text-con p a:hover {
    color: #b82426;
}

.footer-bottom-con {
    background-color: #b82426;
    padding-top: 15px;
    padding-bottom: 15px;
}

.copyright-text {
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.social-icon-con {
    line-height: 0;
}

.social-icon-ul {
    width: 100%;
    display: inline-block;
}
.social-icon-ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    display: inline-block;
}
.social-icon-ul ul li {
    margin: 0;
    padding: 0 8px;
    list-style: none;
    width: auto;
    display: inline-block;
}
.social-icon-ul ul li a {
    background-color: #ffffff;
    color: #b82426;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    opacity: 1;
}
.social-icon-ul ul li a:hover {
    background-color: #ffffff;
    color: #b82426;
    opacity: 0.8;
}
.social-icon-ul ul li:first-child {
    padding-left: 0;
}
.social-icon-ul ul li:last-child {
    padding-right: 0;
}

.footer-page-menu {
    position: relative;
}

.footer-page-menu-ul {
    width: 100%;
    display: inline-block;
}
.footer-page-menu-ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-page-menu-ul ul li {
    margin: 0;
    padding: 4px 15px 4px 0;
    list-style: none;
    flex: 0 0 auto;
    width: 50%;
}
.footer-page-menu-ul ul li a {
    color: #000000;
    font-size: 16px;
    line-height: normal;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    opacity: 1;
}
.footer-page-menu-ul ul li a:hover {
    color: #000000;
    font-weight: 700;
}

.list-apply-ul {
    width: 100%;
    display: inline-block;
}
.list-apply-ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    display: inline-block;
}
.list-apply-ul ul li {
    margin: 0 12px;
    padding: 0 12px;
    list-style: none;
    width: auto;
    display: inline-block;
    position: relative;
}
.list-apply-ul ul li:after {
    content: "";
    width: 8px;
    height: 8px;
    background: #ffffff;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -18px;
    top: calc(50% - 4px);
}
.list-apply-ul ul li a {
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.apply-now-con {
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-logo-school-sm img{
    width: 220px;
    max-width: 100%;
}
.footer-logo-sm img{
    width: 160px;
    max-width: 100%;
}
@media only screen and (max-width: 1399px) {
    .copyright-text {
        font-size: 16px;
    }
    .social-icon-ul ul li a {
        font-size: 16px;
    }
    .footer-page-menu-ul ul li a {
        font-size: 16px;
    }
    .footer-link-and-text-con p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 1199px) {
    .copyright-text {
        font-size: 15px;
    }
    .social-icon-ul ul li a {
        font-size: 15px;
    }
    .footer-page-menu-ul ul li a {
        font-size: 15px;
    }
    .footer-link-and-text-con p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 991px) {
    .copyright-text {
        font-size: 14px;
    }
    .social-icon-ul ul li a {
        font-size: 14px;
    }
    .footer-page-menu-ul ul li {
        width: 100%;
    }
    .footer-page-menu-ul ul li a {
        font-size: 14px;
    }
    .footer-link-and-text-con p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 767px) {
    .footer-middle-con {
        text-align: center;
    }
    .footer-bottom-con {
        text-align: center;
    }
    .copyright-text {
        font-size: 13px;
        margin-bottom: 12px;
    }
    .social-icon-ul ul li a {
        font-size: 13px;
    }
    .footer-page-menu-ul ul li {
        width: 100%;
    }
    .footer-page-menu-ul ul li a {
        font-size: 13px;
    }
    .footer-link-and-text-con p {
        font-size: 13px;
    }
}
@media only screen and (max-width: 575px) {
    .copyright-text {
        font-size: 12px;
    }
    .social-icon-ul ul li a {
        font-size: 12px;
    }
    .footer-page-menu-ul ul li a {
        font-size: 12px;
    }
    .footer-link-and-text-con p {
        font-size: 12px;
    }
}
