.tabs_wrapper {
    text-align: center;
    background: transparent;
}

ul.tabs {
    vertical-align: top;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.tabs li {
    margin: 0;
    cursor: pointer;
    padding: 0px 0px 30px;
    margin-bottom: 30px;
    line-height: 1.1em;
    color: #4d4d4d;
    text-align: left;
    font-weight: 400;
    font-size: 36px;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-bottom: 2px solid #999;
}
ul.tabs li:last-child {
    border-bottom: none;
}
ul.tabs li i.fa {
    position: absolute;
    right: 0px;
    font-size: 16px;
}

ul.tabs li:hover {
    color: #333;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.tabs li.active {
    color: #b82426;
    font-weight: bold;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tab_container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 20;
    min-width: 10px;
    text-align: left;
}

.tab_content {
    display: none;
    padding-bottom: 40px;
}

.tab_drawer_heading {
    display: none !important;
}
@media screen and (max-width: 1199px) {
    ul.tabs li {
        font-size: 26px;
    }
}
@media screen and (max-width: 768px) {
    ul.tabs {
        display: none;
    }
    .tab_container {
        display: block;
        margin: 0 auto;
        border-top: none;
        border-radius: 0;
    }

    .tab_drawer_heading {
        /* IE6-9 */
        font-family: "Inter", sans-serif;
        font-size: 28px;
        font-weight: normal;
        color: #4d4d4d;
        margin: 0 0 15px;
        padding: 0px 0px 15px;
        display: block !important;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        border-bottom: 2px solid #999;
    }
    .tab_drawer_heading i.fa {
        position: absolute;
        right: 20px;
        font-size: 16px;
    }
    .tab_drawer_heading:hover {
        color: #333;
    }

    .tab_drawer_heading.d_active {
        color: #b82426;
        font-weight: bold;
        border-bottom: none;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 767px) {
    .tab_drawer_heading {
        font-size: 22px;
    }
}
