.download-list-con {
    position: relative;
}
.vr {opacity: 1;}
.download-list-col {
    border: 1px solid #707070;
    width: 100%;
    display: inline-block;
    margin: 15px auto;
    padding: 15px;
    position: relative;
}
.news h6 {font-size: 22px; font-weight: bold;}
.news .item {border-bottom: 1px solid #ccc; position: relative;}
.news .link-text-icon {position: absolute; bottom: 20px; color: #b82426;}
.download-list-col h6 {margin-bottom: 0; font-family: "Inter", sans-serif; font-weight: 600;}
.large-arrow .download-list-icon {top: -15px; right: -15px;}
.large-arrow .download-list-icon a{width: 61px; height: 61px;}

.download-list-text-icon {
    position: relative;
    width: 100%;
    padding-right: 30px;
}

.download-list-title p {
    margin: 0;
}

.download-list-icon {
    position: absolute;
    right: 0;
    top: 0;
}

.download-list-icon a {
    background-color: #b82426;
    color: #ffffff;
    width: 27px;
    height: 27px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}

.apply-now-box-con {
    position: relative;
    width: 100%;
    background-color: #f0f0f0;
}

.apply-now-box-title {
    position: relative;
    background-color: #b82426;
}

.apply-now-box-padding {
    padding: 15px;
}

.apply-now-box-title h4 {
    margin: 0;
    color: #ffffff;
}

.search-box-con {
    background-color: #f0f0f0;
    padding-top: 21px;
    padding-bottom: 21px;
}

.search-box-con .form-control {
    background: #ffffff !important;
}

.search-box-con .btn, .search-box .btn {
    min-height: 48px;
}
.minus-block {padding-top: 180px !important; margin-top: -190px !important;}
.white-bg {background-color: #fff;}
.testimonial-img {background: url(../../images/red-swatch.png) no-repeat center bottom; padding: 0 110px; background-size: 100%;}
.bg-text-con {
    position: relative;
    background-color: #f0f0f0;
    position: relative;
    background-color: #f0f0f0;
    background-image: url(../../images/why-study.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-bg {background: url(../../images/section-bg.jpg) no-repeat center center; background-size: cover;}
.bg-books {background: url(../../images/books-bg.jpg) no-repeat center center; background-size: cover; color: #fff !important;}
.dark-img-bg1 {background: url(../../images/dark-img-bg1.jpg) no-repeat center center; background-size: cover; color: #fff !important;}
h2.head-lg {font-size: 65px;}
.t-shape-block {position: relative;}
.t-shape-block h5 { font-family: "Inter", sans-serif; margin-bottom: 0;}
.t-shape-block h5 span {font-weight: normal;}
.t-shape-block h5.head-rotate { position: absolute; bottom: -10vh; left: 3vw; margin-bottom: 0; text-align: center; width: 200%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
.white-txt, .white-txt p, .white-txt h2, .white-txt h6, .white-txt .circle-icon {color: #fff !important;}
.head-sans {font-family: "Inter", sans-serif; }
.number-block h2 {font-size: 80px; margin-bottom: 0;}
.number-block p {margin-bottom: 0;}
.red-txt, .number-block.red-txt h2, .number-block.red-txt p {color: #B82426 !important;}
.two-box-video-con .two-box-video-col {
    position: relative;
    min-height: 550px;
}
.two-box-video-con .two-box-video-text {
    position: relative;
    width: 100%;
    height: 100%;
    background: #b82426;
}
.head-light {font-family: "Inria Serif", serif !important; font-weight: 300;}

.adypu-accordion .accordion-body {padding-top: 0;}
.adypu-accordion .accordion-button {padding-left: 40px; font-size: 1.5rem; color: #000;}
.adypu-accordion .accordion-button::after {position: absolute; left: 0; color: #B82426; font-weight: bold; transform:rotate(-90deg);}
.adypu-accordion .accordion-button:focus {box-shadow:none;}
.adypu-accordion .accordion-button:not(.collapsed) {background-color: transparent; font-weight: bold; color: #000; box-shadow: none;}
.adypu-accordion .accordion-button:not(.collapsed)::after {color: #B82426; transform:rotate(0deg);background-image: var(--bs-accordion-btn-icon);}
.round-bullet {width: 80px; height: 80px; border: 1px solid #fff; border-radius: 100%;}
.two-box-video-con .two-box-video-text h3 {
    color: #ffffff;
    font-family: "Inter", sans-serif;
}
.action-block {padding: 30px;}
.action-block h3, .action-block h5, .action-block h6 {font-family: "Inter", sans-serif !important; line-height: 1.2; margin-bottom: 0;}
.action-block h6 {font-size: 22px;}
.action-block h3 span {color: #B82426; font-weight: normal;}
.two-box-video-con .two-box-video-text p {
    color: #ffffff;
    font-family: "Inter", sans-serif;
}
.two-box-video-con .two-box-video-video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.two-box-video-con .two-box-video-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.full-container-text-fixd {
    width: 650px;
    float: right;
}
.large-text-area {width: 770px;}

.full-padding-text-fixd {
    padding-top: 90px;
    padding-right: 60px;
}

.video-icon::after {
    content: "\f01d";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 30px);
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
    width: auto;
    display: inline-block;
    z-index: 5;
}

.video-icon::before {
    content: "";
    background-color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 3;
    opacity: 0.3;
}

.bottom-btn-list {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 120px;
    display: inline-block;
    z-index: 9;
}
.bottom-btn-list a {
    width: 100%;
    text-align: center;
    width: auto;
    display: inline-block;
    background-color: #b82426;
    border-radius: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border: 1px solid #b82426;
    padding: 12px 18px;
    min-width: 120px;
    position: relative;
    opacity: 1;
    border-color: #fff;
}

.entrance-test-fixd-btn {
    position: fixed;
    right: 0;
    top: calc(50% - 90px);
    width: 180px;
    display: inline-block;
    z-index: 9;
}
.entrance-test-fixd-btn a {
    width: auto;
    display: inline-block;
    background-color: #b82426;
    border-radius: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    border: 1px solid #b82426;
    padding: 12px 18px;
    min-width: 120px;
    position: relative;
    opacity: 1;
    border-color: #fff;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: rotate(270deg) translate(50%, 50%);
    -moz-transform: rotate(270deg) translate(50%, 50%);
    -ms-transform: rotate(270deg) translate(50%, 50%);
    -o-transform: rotate(270deg) translate(50%, 50%);
    transform: rotate(270deg) translate(50%, 50%);
}

.full-video-con {
    position: relative;
}

.img-title-box-full {
    border: 1px solid #b5b5b5;
    width: 100%;
}

.img-title-box-col {
    width: 100%;
    padding: 15px 0;
}

.img-title-box-title {
    padding: 15px;
    width: 100%;
}

.img-title-box-title p {
    color: #000000;
    font-weight: bold;
    margin: 0;
}

.img-title-box-title p a {
    color: #000000;
}

.home-news-con {
    background-image: linear-gradient(180deg, #f0f0f0 calc(100% - 200px), #ffffff 0);
}

.innovators-slider-con {
    width: 100%;
}

.innovators-slider-col {
    padding: 15px 0;
}

.innovators-slider-col h3 {
    font-family: "Inter", sans-serif;
}

.title-arrow-con {
    padding-right: 42px;
}
.announcement-block .btn-title-text-ul ul li {border-color: rgba(255,255,255,0.5); padding: 0 0 30px;margin-bottom: 30px;}
.announcement-block .btn-title-text-ul ul li:last-child {margin-bottom: 0px;}
.announcement-block .btn-title-text-left {background-color: #fff; color: #b82426;}
.announcement-block .btn-title-text-left h6 {color: #b82426;}
.announcement-block .btn-title-text-right h6 a, .announcement-block .btn-title-text-right p {color: #fff;}
.announcement-block ul.border-list li p {color: #fff; margin-bottom: 10px;}
.announcement-block .btn-title-text-ul ul.border-list-arrow li {padding-left: 25px;padding-bottom: 0;}
.announcement-block .btn-title-text-ul ul.border-list-arrow li p {margin-bottom: 0;}

.feature-item {padding-left: 55px; position: relative;}
.feature-item:before {height: 30px; width: 30px; border-radius: 100%; content: ""; border: 3px solid #707070; position: absolute; left: 10px; top: 0;}
.feature-item strong {display: block; line-height: 30px;}
@media only screen and (max-width: 1399px) {
    .full-container-text-fixd {
        width: 560px;
    }
    .large-text-area {width: 770px;}
    .two-box-video-con .two-box-video-col {
        min-height: 450px;
    }
}
@media only screen and (max-width: 1199px) {
    .full-container-text-fixd {
        width: 470px;
    }
    .large-text-area {width: 550px;}
    .number-block h2 {font-size: 50px;}
    .two-box-video-con .two-box-video-col {
        min-height: 400px;
    }
    .full-padding-text-fixd {
        padding-top: 60px;
        padding-right: 40px;
    }
    .testimonial-img {padding: 0 60px;}
    .t-shape-block h5.head-rotate { bottom: 0; left: 3vw;}
}
@media only screen and (max-width: 991px) {
    .full-container-text-fixd {width: 360px;}
    .large-text-area {width: 720px;}
    .minus-block {margin-top: 0px !important; padding-top: 36px !important;}
    .t-shape-block h5.head-rotate { bottom: 0; left: 3vw; width: 300%;}
}
@media only screen and (max-width: 767px) {
    .download-list-icon a {
        width: 21px;
        height: 21px;
        line-height: 21px;
        font-size: 12px;
    }
    .large-arrow .download-list-icon {top:-8px; right: -8px;}
    .large-arrow .download-list-icon a {height: 37px; width: 37px;}
    .download-list-col {
        margin: 8px auto;
        padding: 8px;
    }
    .two-box-video-con .two-box-video-col {
        min-height: auto;
    }
    .two-box-video-con .two-box-video-video {
        position: relative;
    }
    .full-container-text-fixd {
        width: 580px;
        float: none;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
    }
    .full-padding-text-fixd {
        padding: 30px;
    }
}
@media only screen and (max-width: 575px) {
    .page-banner-con {
        height: 220px;
    }
    .testimonial-img {padding: 0 80px; background-size: 90%;}
    .t-shape-block h5.head-rotate { bottom: -10vh; left: 2vw; width: 400%;}
}
